@import '../../../global/index.scss';

.main-page-singin {
  background-color: $terciary-color;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.flex_center.content-login {
  flex-direction: column;
  background-color: $color-white;
  padding: 40px 80px;
  border-radius: 20px;
  justify-content: start;
  width: 40%;
}

.flex_center.content-login
.buttons-login-accounts {
  margin: 15px 0 30px;
}

.flex_center.content-login
.form-login {
  width: 100%;
  flex-direction: column;
}

.flex_center.content-login
.form-login
.input-login{
  margin: 10px auto;
}

.flex_center.content-login
.form-login
.div-password {
  gap: 10px;
}

.flex_center.content-login
.form-login
.div-password
.button-eye {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}


.flex_center.content-login
.form-login
.form-login-buttons{
  margin-top: 20px;
  justify-content: end;
}

.flex_center.content-login
.form-login
.form-login-buttons
.button-login {
  height: 40px;
  border-radius: 10px;
  background-color: $terciary-color;
  color: $color-white;
  font-weight: 600;
  transition: 0.3s;
}

.flex_center.content-login
.form-login
.form-login-buttons
.button-login.active {
  background-color: $color-secudary;
}

@media screen and (max-width: 913px) {
  .flex_center.content-login {
    width: 80%;
  }
  
}

@media screen and (max-width: 458px) {
  .title-page-login {
    font-size: 1.3rem;
  }
}